@import '../../variables.scss';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  input[type='checkbox'] {
    display: none;
  }

  &__checkmark {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  input[type='checkbox']:checked + &__checkmark {
    transition: all 0.3s ease-in-out;
  }

  &__checkmark::after {
    content: '';
    width: 10px;
    height: 10px;
    border: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type='checkbox']:checked + &__checkmark::after {
    display: block;
  }
}

.checkbox--dark {
  .checkbox__checkmark {
    border-color: $primaryLightGrey;

    &::after {
      border-color: $primaryLightGrey;
    }
  }

  input[type='checkbox']:checked + .checkbox__checkmark {
    background-color: $primaryBlack;
  }
}

.checkbox--light {
  .checkbox__checkmark {
    border-color: $primaryDarkGrey;

    &::after {
      border-color: $primaryDarkGrey;
    }
  }

  input[type='checkbox']:checked + .checkbox__checkmark {
    background-color: $secondaryWhite;
  }
}
