@import '../../variables.scss';

.pictureCard {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 185px;
  aspect-ratio: 280 / 185;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  overflow: hidden;

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }
  }

  &_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 84.3%;
    height: 24.5%;
    padding: 8px 12px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  &_title {
    font-size: $font-size-medium;
    font-family: $font-family-cormorant;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin: 0 0 6px;
  }

  &_subTitle {
    font-size: $font-size-small;
    font-family: 'Inter';
    transition: transform 0.3s ease;
  }

  &_title,
  &_subTitle {
    display: flex;
  }

  &_button {
    border: none;
    outline: none;
    position: absolute;
    bottom: 0;
    left: 84.3%;
    height: 24.5%;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 0 5px;
    transition: all 0.3s ease-in-out;

    & svg {
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }

    &__active svg {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  &--dark {
    .pictureCard_info {
      background-color: $primaryBlack;

      &:before {
        color: $accentGold;
      }
    }

    .pictureCard_title {
      color: $primaryWhite;
    }

    .pictureCard_subTitle {
      color: $accentGold;
    }

    .pictureCard_button {
      background-color: $accentGold;
    }
  }

  &--light {
    .pictureCard_info {
      background-color: $primaryWhite;

      &:before {
        color: $accentRed;
      }
    }

    .pictureCard_title {
      color: $primaryBlack;
    }

    .pictureCard_subTitle {
      color: $accentRed;
    }

    .pictureCard_button {
      background-color: $accentRed;
    }
  }
}

@media (min-width: 768px) {
  .pictureCard {
    aspect-ratio: 352 / 220;
    max-width: 352px;
    max-height: 220px;

    &_info {
      height: 30%;
      width: 85%;
      padding: 12px;
    }

    &_title {
      font-size: $font-size-large;
      margin-bottom: 8px;
    }

    &_subTitle {
      font-size: $font-size-medium;
    }

    &_button {
      left: 85%;
      height: 30%;
    }
  }
}

@media (min-width: 1024px) {
  .pictureCard {
    aspect-ratio: 392 / 260;
    max-width: 392px;
    max-height: 260px;

    &_info {
      padding: 20px;
      width: 76.6%;
      height: 31.5%;

      &::before {
        content: '';
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;
        border-left: 2px solid;
      }
    }

    &_button {
      display: none;
    }
  }
}
