@import '../../variables.scss';
@import './variantStyles/arrow.module.scss';
@import './variantStyles/basket.module.scss';
@import './variantStyles/basketOnImage.module.scss';
@import './variantStyles/themeButton.module.scss';
@import './variantStyles/transparent.module.scss';

.buttonIcon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  border: none;
  outline: none;

  &:disabled {
    cursor: default;
  }

  &_icon {
    transition: all 0.3s ease-in-out;
    display: flex;
    margin: auto;
  }

  &_label {
    transition: all 0.3s ease-in-out;
  }
}
