@import '../../variables.scss';
@import './variantStyles/primary.module.scss';
@import './variantStyles/text.module.scss';

.buttonText {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  border: none;
  outline: none;

  &:disabled {
    cursor: default;
  }

  &_icon {
    transition: all 0.3s ease-in-out;
  }

  &_label {
    transition: all 0.3s ease-in-out;
  }
}
