@font-face {
  font-family: 'Cormorant SC';
  src: url('./CormorantSC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
