@import '../../variables.scss';

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
  font-size: $font-size-large;
  transition: all 0.3s ease-in-out;

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

.textarea--dark {
  border-color: $secondaryBlack;
  color: $primaryLightGrey;
  background-color: $secondaryBlack;

  &:hover {
    border-color: $primaryDarkGrey;
  }

  &:focus {
    border-color: $primaryLightGrey;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(#cdcdcd, 5%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryDarkGrey;
  }
}

.textarea--light {
  border-color: $primaryLightGrey;
  color: $primaryDarkGrey;
  background-color: $primaryWhite;

  &:hover {
    border-color: $secondaryGrey;
  }

  &:focus {
    border-color: $primaryDarkGrey;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(#121212, 5%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondaryGrey;
  }
}
