.search {
  display: flex;
  position: relative;

  & input {
    padding-left: 52px;
  }

  > *:first-child {
    position: absolute;
    top: 0;
    left: 16px;
    height: 100%;
    z-index: 1;
  }

  > *:last-child {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    z-index: 1;
  }
}
