@import '../../variables.scss';

.mainPage {
  display: flex;
  padding: 44px 0 100px;
  justify-content: center;

  &_buttons {
    display: flex;
    align-items: start;
    padding: 0 0 20px;
    transition: all 0.3s ease-in-out;
  }
}

.mainPage--light {
  background-color: $primaryWhite;
}

.mainPage--dark {
  background-color: $primaryBlack;
}

@media (min-width: 768px) {
  .mainPage {
    padding: 88px 0 100px;
  }
}

@media (min-width: 1024px) {
  .mainPage {
    padding: 88px 0 100px;
  }
}
