@import '../../../variables.scss';

.buttonText {
  &--primary {
    padding: 16px 74.5px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.buttonText--dark {
  &.buttonText {
    //Темные стили для каждого типа кнопки
    &--primary {
      background-color: $accentGold;
      color: $primaryWhite;

      &:hover,
      &:focus {
        box-shadow: 0px 4px 10px 0px $accentGold;
      }
    }
  }
}

.buttonText--light {
  &.buttonText {
    &--primary {
      background-color: $primaryBlack;
      color: $primaryWhite;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        box-shadow: 0px 4px 10px 0px $primaryBlack;
      }
    }
  }
}
