@import '../../../variables.scss';

.buttonText {
  &--text {
    padding: 0;
    background-color: transparent;
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    align-items: center;
  }

  &_label {
    &--text {
      border-bottom: 1px solid;
    }
  }
}

.buttonText--dark {
  &.buttonText {
    &--text {
      color: $primaryLightGrey;
      border-color: $primaryLightGrey;

      &:hover,
      &:focus {
        color: $primaryWhite;
        border-color: $primaryWhite;
      }

      &:disabled {
        color: $secondaryGrey;
        border-color: $secondaryGrey;
      }
    }
  }
}

.buttonText--light {
  &.buttonText {
    &--text {
      color: $primaryDarkGrey;
      border-color: $primaryDarkGrey;

      &:hover,
      &:focus {
        color: $primaryBlack;
        border-color: $primaryBlack;
      }
    }
  }
}
