@import '../../../variables.scss';

.buttonIcon {
  &--arrow {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    padding: 0;
    border: 1px solid;
  }

  &_icon {
    &--arrow {
      transform: rotate(-90deg);
      width: 24px;
      height: 24px;
      margin: auto;
    }
  }
}

.buttonIcon--dark {
  &.buttonIcon {
    &--arrow {
      background-color: $secondaryBlack;
      color: $primaryLightGrey;
      border-color: $secondaryBlack;

      &:hover,
      &:focus {
        background-color: #242222;
        border-color: #242222;
      }
    }
  }
}

.buttonIcon--light {
  &.buttonIcon {
    &--arrow {
      background-color: $secondaryWhite;
      color: $primaryDarkGrey;
      border-color: $primaryLightGrey;

      &:hover,
      &:focus {
        background-color: $primaryWhite;
      }
    }
  }
}
