@import '../../../variables.scss';

.buttonIcon {
  &--basketOnImage {
    border-radius: 4px;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;

    &:disabled {
      opacity: 0.5;
    }
  }

  &_icon {
    &--basketOnImage {
      width: 24px;
      height: 24px;
      margin: auto;
    }
  }
}

.buttonIcon--dark {
  &.buttonIcon {
    &--basketOnImage {
      background-color: rgb($secondaryBlack, 90%);
      color: $primaryLightGrey;

      &:hover,
      &:focus {
        background-color: rgb($secondaryBlack, 80%);
      }
    }
  }
}

.buttonIcon--light {
  &.buttonIcon {
    &--basketOnImage {
      background-color: rgb($primaryWhite, 90%);
      color: $primaryLightGrey;

      &:hover,
      &:focus {
        background-color: rgb($primaryWhite, 80%);
      }
    }
  }
}
