@import '../../../variables.scss';

.buttonIcon {
  &--basket {
    border-radius: 4px;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
  }

  &_icon {
    &--basket {
      width: 24px;
      height: 24px;
      margin: auto;
    }
  }
}

.buttonIcon--dark {
  &.buttonIcon {
    &--basket {
      background-color: $secondaryBlack;
      color: $primaryLightGrey;

      &:hover,
      &:focus {
        color: $primaryWhite;
      }

      &:disabled {
        background-color: $secondaryBlack;
        color: $primaryLightGrey;
      }
    }
  }
}

.buttonIcon--light {
  &.buttonIcon {
    &--basket {
      background-color: $secondaryWhite;
      color: $primaryDarkGrey;

      &:hover,
      &:focus {
        color: $primaryBlack;
      }

      &:disabled {
        background-color: rgb($secondaryWhite, 90%);
        color: $primaryLightGrey;
      }
    }
  }
}
