@import '../../../variables.scss';

.buttonIcon {
  &--themeButton {
    border-radius: 100px;
    border: none;
    width: 40px;
    height: 40px;

    &_icon {
      &--themeButton {
        display: block;
        width: 24px;
        height: 24px;
        margin: auto;
      }
    }
  }
}

.buttonIcon--dark {
  &.buttonIcon {
    &--themeButton {
      background-color: $secondaryBlack;
      color: $primaryLightGrey;

      &:hover {
        color: $primaryWhite;
      }
    }
  }
}

.buttonIcon--light {
  &.buttonIcon {
    &--themeButton {
      background-color: $secondaryWhite;
      color: $primaryDarkGrey;

      &:hover {
        color: $primaryBlack;
      }
    }
  }
}
