@import '../../../variables.scss';

.buttonIcon {
  &--transparent {
    background-color: transparent;
  }

  &_icon {
    &--transparent {
      display: block;
      margin: auto;
    }
  }
}

.buttonIcon--dark {
  &.buttonIcon {
    &--transparent {
      color: $primaryLightGrey;

      &:hover,
      &:focus {
        color: $primaryWhite;
      }
    }
  }
}

.buttonIcon--light {
  &.buttonIcon {
    &--transparent {
      color: $primaryDarkGrey;

      &:hover,
      &:focus {
        color: $primaryBlack;
      }
    }
  }
}
