@import '../../variables.scss';

.label {
  display: block;
  margin-bottom: 8px;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.label--dark {
  color: $primaryWhite;
}

.label--light {
  color: $primaryBlack;
}
