//Primary Colors
$primaryWhite: #ffffff;
$primaryBlack: #121212;
$primaryLightGray: #dedede;
$primaryLightGray: #575757;

//Secondary Colors
$secondaryWhite: #fcfcfc;
$secondaryBlack: #1a1818;
$secondaryGrey: #9c9c9c;

//Accent Colors
$accentRed: #9b4b4b;
$accentGold: #ab8956;
$accentError: #ae2917;

//Font-Sizes
$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 32px;
$font-size-large: 16px;
$font-size-medium: 12px;
$font-size-small: 8px;

// Font Weights
$font-weight-light: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Font Families
$font-family-cormorant: 'Cormorant SC';
$font-family-inter: 'Inter';
